.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-background);
    padding: 20px 30px;
    border-radius: 25px;

    &__filter,
    &__update-button {
        background-color: transparent;
        border: 1px solid #5ED3F3;
        outline: none;
        border-radius: 10px;
        padding: 10px 15px;
        color: #ffffff;
    }

    
    &__update-button {
        cursor: pointer;
    }
}